<template name="aboutMe">
    <div class="row about-me">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            I'm a 25 years old developer based in Istanbul, Turkey, I specialise in building web apps. My career started
            at an early age, when I was 16 I started programming damage calculation software in high school. With the
            pass of the years, I decided to transform my hobby into a profession so I studied about programming. I
            consider myself a full-stack developer. I'm currently working in I2I Systems a company which
            supports billing & charging in the telecommunications sector. My task is supporting and developing Call
            Center's websites. <br> <br>
            But after about 3 years in the same company I think my
            improvement has stoped here. So I am searching a new job. I enjoy developing web applications
            and learning new technologies for developing faster and better. I am a self-taught person. I love learning
            new things and improving my skills in different web platforms such as Udemy, teamtreehouse and youtube. I
            also upload educational videos on Youtube. I like Javascript, coffee, linux and playing guitar. I enjoy
            building stuff, investigating new technologies and general hacking.
        </div>
    </div>

</template>