<template name="aboutMe">
<div class="row about-me">
	<div class="col-md-12">
		I'm a developer based in Istanbul, Turkey, specialising in building web apps, consider myself full-stack developer. Currently I'm working in a company which supports blling & charging  in telecommunication sector. My task is supporting and developing Call Center's web interface. Actually I do not enjoy this job, because I think my improvement has stoped here.  I enjoy developing web applications and learn new technologies for developing faster. for example, I started to learn MeteorJs in my  spare time and made some web applications. I like Javascript {Javascript is everywhere : ) },  coffee, linux and  playing guitar.  I enjoy building stuff, investigating new technologies and general hacking. 
	</div>
</div>

</template>