<template name="experiences">

				<div class="row">
					<div class="col-md-2 experience-date">
							09.2013 - ...
					</div>

					<div class="col-md-10">
						<span class="job-company">I2I Systems</span> 
						<strong class="resume-title">Analyst Developer</strong>
						<p class="job-detail">
						In this company I started to work as an outsourced developer. I was working with an Agile team for Avea  which is a big company in the turkish telecommunications sector. It was a new and different sector for me, I started to learn Oracle products like Java, PL/SQL etc. I was in billing charging department, my task was solving the customer cases, system cases and develop the current products in BSCS database (a very big database keeping 15 million people’s informations and working datas for telecommunication). Also we had an Asp.Net web application for call center workers, the web aplication has modules for managing BSCS database (adding a new customer, giving compain, customer and usage reports etc.).
						</p>
					</div>
				</div>


				<div class="row">
					<div class="col-md-2 experience-date">
							07.2012 - 04.2013
					</div>

					<div class="col-md-10">
							<span class="job-company">Line Yazılım (Line Software)</span> 
							<strong class="resume-title">Web Development Specialist</strong>
							<p class="job-detail">
								When i started to work in Line Software it was a small and new company, so I was working alone as a full stack developer. I learned Asp.Net MVC, Entity Framework and created websites. I created 3 corporate website templates then I was editing the design of this templates for selling. While I was working there, the company sold more than 10 websites. Line Software was a good company for me it gave me a level of independence, that helped me to develop myself as a full stack developer. 
							</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-2 experience-date">
							08.2011 - 07.2012
					</div>

					<div class="col-md-10">
							<span class="job-company">Enfortek Bilişim Teknolojileri(IT)</span> <strong class="resume-title">Web Software Specialist</strong>
							<p class="job-detail">
								After obtaining my certificate of Software and Database Expertise(Asp.net C# ) I started to work in this company, I was working with a team which was creating websites for several companies. Also the company was working with their own software for government agencies. I was helping to develop the company's software with C#, MsSql and Devexpress tool. here I created more than 10 websites with my developer team.
							</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-2 experience-date">
							06.2009 - 01.2011
					</div>

					<div class="col-md-10">
							<span class="job-company">Serkan Computer</span> <strong class="resume-title">Web Interface Designer</strong>
							<p class="job-detail">
								Here was my first work experience, the company was creating websites for small companies and repairing the client's computers. I started repairing computers, for 8 months I was working with it. Then I was wondering how to make websites so I started to learn html, css with front-end developers. Then I started to create websites for one year. In one year, the development team and me created about 24 websites for small corporates using html, css, javascript, php.
							</p>
					</div>
				</div>
</template>