<template name="resumeSkills">
	<div class="row resume-skills">
					<div class="col-md-4">
						<div class="skill-header">Professional Skills</div>
						<div class="row">
							HTML,CSS, Bootstrap <span>&#9733; &#9733; &#9733; &#9733; &#9733;</span>
						</div>

						<div class="row">
							JavaScript, JQuery, JSon   <span>&#9733; &#9733; &#9733; &#9733; &#9734;</span>
						</div>

						<div class="row">
							MeteorJs, MongoDb    <span>&#9733; &#9733; &#9733; &#9734; &#9734;</span>
						</div>

						<div class="row">
							Php, MySql, PL/SQL  <span>&#9733; &#9733; &#9733; &#9733; &#9734;</span>
						</div>

						<div class="row">
							Asp.Net, C#, MsSql, MVC  <span>&#9733; &#9733; &#9733; &#9733; &#9734;</span>
						</div>

						<div class="row">
							Agile, Kanban <span>&#9733; &#9733; &#9733; &#9733; &#9734;</span>
						</div>

						<div class="row">
							Git, Github <span>&#9733; &#9733; &#9733; &#9734; &#9734;</span>
						</div>

					</div>

					<div class="col-md-4">
						<div class="skill-header">Personal Skills</div>
						
						<div class="row">
							Relationship Building  <span>&#9733; &#9733; &#9733; &#9733; &#9733;</span>
						</div>

						<div class="row">
							Creativity - Inovation   <span>&#9733; &#9733; &#9733; &#9733; &#9733;</span>
						</div>

						<div class="row">
							Problem Solving  <span>&#9733; &#9733; &#9733; &#9733; &#9733;</span>
						</div>

						<div class="row">
							Team Working  <span>&#9733; &#9733; &#9733; &#9733; &#9734;</span>
						</div>

						<div class="row">
							Communication  <span>&#9733; &#9733; &#9733; &#9733; &#9734;</span>
						</div>

						<div class="row">
							Time Management  <span>&#9733; &#9733; &#9733; &#9733; &#9734;</span>
						</div>
					</div>

					<div class="col-md-4">
							<div class="skill-header">Languages</div>
							
							<div class="row">
								Turkish  <span>&#9733; &#9733; &#9733; &#9733; &#9733;</span>
							</div>

							<div class="row">
								English   <span>&#9733; &#9733; &#9733; &#9733; &#9734;</span>
							</div>

							<div class="row">
								Kurdish  <span>&#9733; &#9733; &#9733; &#9733; &#9734;</span>
							</div>

							<div class="row">
								Spanish  <span>&#9733; &#9733; &#9734; &#9734; &#9734;</span> 
							</div>

					</div>

				
		</div>
</template>