<template name="resumeLeft">
			<!-- Left Side !-->
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 resume-left">
				<div class="resume-pic">
					<img src="img/resume.jpg">
				</div>

				<div class="resume-profile">
					<span class="resume-slash">//</span> <span class="resume-header">Profile</span>
					<div class="line"></div>

					<strong>Name</strong> <br> 
					Hasip Timurtaş<br>
					<br>

					<strong>Experience</strong> <br> 
					5.5 Years<br>
					<br>

					<strong>Address</strong> <br> 
					Yavuz Sultan Selim district<br>
					Mihri Kelam ST.<br>
					Istanbul<br>
					Turkey<br>

					<br>
					<strong>Phone</strong> <br> 
					+90 507 184 11 15<br>

					<br>
					<strong>Email</strong> <br> 
					hasip.timurtas@gmail.com<br>

					<br>
					<strong>Website</strong> <br> 
					<a href="http://www.hasiptimurtas.com">www.hasiptimurtas.com</a> 
				</div>
				<div class="resume-social">
					<span class="resume-slash">//</span> <span class="resume-header">Social</span>
					<div class="line"></div>

					/hasiptimurtas
					<a class="btn btn-social-icon btn-xs btn-linkedin"><i class="fa fa-linkedin"></i></a>
					<br>
					
					@mht_hsp
					<a class="btn btn-social-icon btn-xs btn-twitter"><i class="fa fa-twitter"></i></a>
					<br>

					+hasipTimurtas
					<a class="btn btn-social-icon btn-xs btn-google"><i class="fa fa-google"></i></a>
					<br>

					/hasip-timurtas
					<a class="btn btn-social-icon btn-xs btn-github"><i class="fa fa-github"></i></a>
					<br>

					/hasip.timurtas 
					<a class="btn btn-social-icon btn-xs btn-facebook"><i class="fa fa-facebook"></i></a>
					<br>					

				</div>

			</div>
</template>