<template name="resumeLeft">
			<!-- Left Side !-->
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 resume-left">
				<div class="resume-pic">
					<img src="img/resume.jpg">
				</div>

				<div class="resume-profile">
					<span class="resume-slash">//</span> <span class="resume-header">Profile</span>
					<div class="line"></div>

					<strong>Name</strong> <br> 
					M. Hasip Timurtaş<br>
					<br>

					<strong>Experience</strong> <br> 
					6 Years<br>
					<br>

					<strong>Address</strong> <br> 
					Yavuz Sultan Selim district<br>
					Mihri Kelam ST.<br>
					Istanbul<br>
					Turkey<br>

					<br>
					<strong>Phone</strong> <br> 
					+90 507 184 11 15<br>

					<br>
					<strong>Email</strong> <br> 
					hasip.timurtas@gmail.com<br>

					<br>
					<strong>Website</strong> <br> 
					<a href="http://www.hasiptimurtas.com">www.hasiptimurtas.com</a> 
				</div>
				<div class="resume-social">
					<span class="resume-slash">//</span> <span class="resume-header">Social</span>
					<div class="line"></div>

					/hasiptimurtas
					<a href="https://www.linkedin.com/in/hasiptimurtas" class="btn btn-social-icon btn-xs btn-linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
					<br>

					/hasip-timurtas
					<a href="https://github.com/hasip-timurtas" class="btn btn-social-icon btn-xs btn-github" target="_blank" ><i class="fa fa-github"></i></a>
					<br>

					+hasipTimurtas
					<a href="https://plus.google.com/+hasipTimurtas" class="btn btn-social-icon btn-xs btn-google" target="_blank"><i class="fa fa-google"></i></a>
					<br>
					
					@hasip_timurtas
					<a href="https://twitter.com/hasip_timurtas" class="btn btn-social-icon btn-xs btn-twitter" target="_blank"><i class="fa fa-twitter"></i></a>
					<br>

					/hasip.timurtas 
					<a href="https://www.facebook.com/hasip.timurtas" class="btn btn-social-icon btn-xs btn-facebook" target="_blank"><i class="fa fa-facebook"></i></a>
					<br>					

				</div>
				<div class="resume-certificate">
				<small> click certificate for image</small>
					<span class="resume-slash">//</span> <span class="resume-header">Certificates</span>
					<div class="line"></div>
					
					<div class="certificate" data-src="smartpro.jpg"> 
						Software and Database Expertise - SmartPro 2011
					</div>

					<div class="certificate" data-src="BA-outstanding-chievement-certificate.jpg"> 
						Software and Database Expertise - Bilge Adam 2013
					</div>

					<div class="certificate" data-src="BA-atandance.jpg"> 
						Software and Database Expertise 2 - Bilge Adam 2013
					</div>

					<div class="certificate" data-src="MS-html-css.jpg"> 
						Microsoft Certificate of attendance - Programming in HTML 5 with Javascript and CSS3
					</div>

					<div class="certificate" data-src="MS-promgraiming-charp.jpg"> 
						Microsoft Certificate of attendance - Programming in C#
					</div>

					<div class="certificate" data-src="MS-azure.jpg"> 
						Microsoft Certificate of attendance - Developing windows Azure and Web Services
					</div>

					<div class="certificate" data-src="MS-mvc.jpg"> 
						Microsoft Certificate of attendance - Developing ASP.NET 4.5 MVC Web Applications
					</div>

				</div>

			</div>

			<!--  Modal for showing Certificates !-->
			<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
			  <div class="modal-dialog modal-lg">
			    <div class="modal-content">
				    <div class="modal-body">
				          <img >
				    </div>

				    <div class="modal-footer">

			          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			    </div>
			    </div>
			    
			  </div>
			</div>

			
</template>