<template name="sayyac">
	<!-- Sayyac counter START v4.3 -->
	<script type="text/javascript">
	<!--
	document.write(unescape("%3Cscript src='" + (("https:" == document.location.protocol) ? "https://" : "http://")
	 + "srv.sayyac.net/sa.js?_salogin=hasip4441&_sav=4.3' type='text/javascript'%3E%3C/script%3E"));
	//-->
	</script>
	<script type="text/javascript">
	<!--
	sayyac.track('hasip4441','srv.sayyac.net');
	//-->
	</script>
	<noscript><a href="http://www.sayyac.com/" title=""><img src="http://srv.sayyac.net/sa.gif?_salogin=hasip4441&amp;_sav=4.3" border="0" alt="" /></a></noscript>
	<!-- Sayyac counter END v4.3 -->  
</template>