<template name="contact">
	<div class="my-social-media">
		<div class="row">
			<div class="md-col-10 text-center">
				<h2>Hasip Timurtaş</h2>
				<h4>Full stack developer</h4>
				<h2>Contact</h2>
				<a class="btn btn-social-icon btn-lg btn-linkedin" href="https://www.linkedin.com/profile/view?id=AAIAAArm_EQBlKe0-7JN_dKh6R87tSv8PVN41L8" target="_blank">
					<i class="fa fa-linkedin"></i>
				</a>

				<a class="btn btn-social-icon btn-lg btn-google" href="https://plus.google.com/+hasipTimurtas" target="_blank">
					<i class="fa fa-google"></i>
				</a>

				<a class="btn btn-social-icon btn-lg btn-github" href="https://github.com/hasip-timurtas" target="_blank">
					<i class="fa fa-github" ></i>
				</a>
				
				<a class="btn btn-social-icon btn-lg btn-facebook" href="https://www.facebook.com/hasip.timurtas" target="_blank">
					<i class="fa fa-facebook"></i>
				</a>		

				<a class="btn btn-social-icon btn-lg btn-instagram" href="https://www.instagram.com/hasip.timurtas" target="_blank">
					<i class="fa fa-instagram"></i>
				</a>	

				<a class="btn btn-social-icon btn-lg btn-twitter" href="https://twitter.com/mht_hsp" target="_blank">
					<i class="fa fa-twitter"></i>
				</a>	
			</div>
		</div>
	</div>
</template>


