<template name="header">
	<div class="container">
		<div class="my-images"> 
			<div class="row">
				<div class="md-col-12 images text-center">
						<img src="img/avea.jpg" alt="A day in Avea">
						<img src="img/award.jpg" alt="An old picture from IT Symposium">
						<img src="img/bowling.jpg" alt="having fun">
						<img src="img/capri.jpg" alt="A day in capri island in Italy">
						<img src="img/gulhane.jpg" alt="Istanbul Sultan Ahmet" >
						<img src="img/IstanbulTechnicalUniversty.jpg" alt="Istanbul Technical Universty in winter..">
						<img src="img/itu.jpg" alt="Istanbul Technical Universty in spring..">
						<img src="img/montevideo.jpg" alt="great moments from Montevideo, Uruguay ">
						<img src="img/office.jpg" alt="Working..">
						<img src="img/pisa.jpg" alt="Traveling..">
						<img src="img/resting.jpg" alt="Resting..">
						<img src="img/seminar.jpg" alt="Was a good seminar..">
						<img src="img/suleymaniye.jpg" alt="A good view from Suleymaniye, Istanbul">
				</div>
			</div>
		</div>

	  <div class="modal fade" id="myModal" role="dialog">
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title"></h4>
	        </div>
	        <div class="modal-body">
	          <img src="img/avea.jpg">
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</template>
